.wrapper {
  width: 1024px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.configurator {
  font-size: 18px;
  padding: 10px;
}

.preview {
  flex-grow: 1;
}

.title {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 0 5px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
