.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.content {
  width: 70%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}
