.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 0;
}

.inputInlineWrapper {
  display: inline-flex;
  margin-right: 20px;
}

.inputDefaultWrapper {
  display: block;
}

.inputButtonWrapper {
  cursor: pointer;
  background: #008793;
  display: inline-block;
  padding: 10px 15px !important;
  color: #fff;
  align-self: end;
  user-select: none;
}

.inputButtonWrapper:not(.inputButtonWrapper:last-child) {
  margin-right: 10px !important;
}

.inputButtonWrapper.danger {
  background: rgba(255, 0, 0, 0.6);
}

.inputButton {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.title {
  margin-bottom: 5px !important;
}

.input {
  height: 25px;
  outline: none;
  border: 1px solid #008793;
}

.inputTextarea {
  width: 100%;
  height: 100px;
  outline: none;
  border: 1px solid #008793;
  resize: vertical;
}
