.inputSettingsWrapper {
  position: absolute;
  right: 0;
  top: -3px;
}

.inputSettings {
  padding: 6px !important;
  z-index: 1000;
  background: #f47256;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.inputAddField {
  padding: 6px !important;
  z-index: 1000;
  background: #f47256;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: inline;
}
