.inlineInputs {
  display: flex;
  align-items: baseline;
}

.inlineInputs > div {
  margin-right: 20px;
}

.wrapper,
.content {
  height: 100%;
}

.content {
  position: relative;
  padding: 50px;
}
