.wrapper {
  display: inline-block;
  z-index: 2000;
}

.content {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px !important;
  position: absolute;
  z-index: 1;
}
